.header-image {
    height: 100px;
}
.main-content {
    background-color: yellow;
}
.edges {
    background-color: grey;
}
.header {
    background-color: grey;
}
.login-page {
  background-color: #d3d3d3;
}
