<!-- This is our container page to load components -->
<div class="container">
  <div class="row bar-header">
    <div class="col-xl-12 text-center">
      <h1>
          <img class="header-image" src="http://2.bp.blogspot.com/-Ck-ZCWZ4n8s/VvqE4NS9r_I/AAAAAAAAAB4/cKbkfnTmC8M-JfnQfwMPu_REzwPp6iBFA/s850-r/chioll%2B2.jpg" height=100 alt="ChillFlix">
      </h1>
    </div>
  </div>
  <div class="row main-content">
    <div class="col-xl-1 edges"></div>
      <div class="col-xl-10">
        <div class="text-center">
          <p>Your component here</p>
        </div>
    </div>
    <div class="col-xl-1 edges"></div>
  </div>
</div>
